.sun {
  width: 7vh;
  height: 7vh;
  background-color: yellow;
  border-radius: 50%;
  background: radial-gradient(yellow, orange);
  box-shadow: 0 0 1vh orange,
  0 0 6vh orange,
  0 0 20vh yellow,
  inset 0 0 80px yellow;
}

.sun_holder {
  width: 45vw;
  bottom: 0;
  right: 50%;
  position: absolute;
  margin-left: auto;
  transform-origin: center right;
}

@media (prefers-reduced-motion: no-preference) {
  .sun_holder { animation: 
    sun-rotate infinite 60s linear;
   }
}

@keyframes sun-rotate {
  0% { transform: rotate(-2deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(183deg); }
  51% { transform: scale(0); }  
  100% { transform: scale(0); }
}
