.hill {
  width: 50%;
  z-index: 4;
  height: 20vh;
  bottom: -10vh;
  position: absolute;
  border-radius: 100%;
}

.hill-1 {
  left: -2vw;
  background-color: green;
  clip: rect(0, 50vw, 10vh, 2vw);
}

.hill-2 {
  right: -1.5vw;
  background-color: green;
  clip: rect(0, 45vw, 10vh, 0);
}

.hill-3 {
  left: 25%;  
  clip: rect(0, 50vw, 10vh, 0);
  background-color: rgb(10, 123, 10);
}

/* @media (prefers-reduced-motion: no-preference) {
  .hill-2 { animation: hill1-change infinite 60s linear; }
  .hill-1 { animation: hill1-change infinite 60s linear; }
  .hill-3 { animation: hill2-change infinite 60s linear; }
}

@keyframes hill1-change {
  0% {  background-color: green; }
  50% {  background-color: green; }
  52% {  background-color: rgb(0, 111, 0) }
  98% {  background-color: rgb(0, 111, 0) }
  100% {  background-color: green; }
}

@keyframes hill2-change {
  0% {  background-color: rgb(10, 123, 10); }
  50% {  background-color: rgb(10, 123, 10); }
  52% {  background-color: rgb(9, 99, 9) }
  98% {  background-color: rgb(9, 99, 9) }
  100% {  background-color: rgb(10, 123, 10); }
} */