.moon {
  width: 8vh;
  height: 8vh;
  right: 10vw;
  position: fixed;
  border-radius: 50%;
  background-color: white;
  box-shadow: 
    0 0 1vw white,
    0 0 60vw white,
    0 0 1vw grey,
    inset 0 0 2vw grey;
}

#moon_sky {
  width: 8vh;
  height: 8vh;
  opacity: 0.9;
  border-radius: 50%;
  position: relative;
  background-color: black;
  box-shadow: inset 0 0 3vw grey;
}

#moon_clip {
  width: 8vh;
  height: 8vh;
  right: 10vw;
  position: fixed;
  border-radius: 50%;
  clip-path: circle(4vh);
}

.moon_wrapper {
  top: 8vh;  
  width: 100%;
  height: 8rem;
  position: absolute;
}

#moon_phase {
  width: 8vh;
  height: 8vh;
  right: 10vw;
  border-radius: 50%;
  position: absolute;
  background-color: grey;
  clip-path: inset(0px 0px 0px 8vh);
}

@media (prefers-reduced-motion: no-preference) {
  #moon_sky { animation: moon_phase infinite 240s step-end;}
  .moon { animation: moon_shift infinite alternate 240s linear; }
  #moon_clip { animation: moon_shift infinite alternate 240s linear; }
}

@keyframes moon_shift {
  0% { transform: translateX(-70vw); }
  100% { transform: translateX(0); }
}

@keyframes moon_phase {
  0% { transform: translateX(9vh); }
  27% { transform: translateX(9vh); }
  27.1% { transform: translateX(3vh); }
  51% { transform: translateX(3vh); }
  51.1% { transform: translateX(0vh); }
  77% { transform: translateX(0vh); }
  77.1% { transform: translateX(-3vh); }
  99.9% { transform: translateX(-3vh); }
  100% { transform: translateX(9vh); }
}
