.moon {
  right: 10vw;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 1vw white,
  0 0 60vw white,
  0 0 1vw grey,
  inset 0 0 2vw grey;
}

.moon_wrapper {
  top: 8rem;  
  width: 100%;
  height: 8rem;
  position: absolute;
}

#moon_phase {
  width: 5vw;
  height: 5vw;
  right: 10vw;
  z-index: 10;
  border-radius: 50%;
  position: absolute;
  background-color: grey;
  clip-path: inset(0px 0px 0px 5vw);
}

@media (prefers-reduced-motion: no-preference) {
  .moon { animation: moon_shift infinite alternate 240s linear; }
  #moon_phase { animation: moon_phase infinite alternate 240s linear; }
}

@keyframes moon_shift {
  0% { transform: translateX(-70vw); }
  100% { transform: translateX(0); }
}

@keyframes moon_phase {
  0% { clip-path: inset(0px 0px 0px 0px); }
  100% { clip-path: inset(0px 0px 0px 5vw); }
}
