.moon {
  right: 10vw;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  position: fixed;
  background-color: white;
  box-shadow: 0 0 1vw white,
  0 0 60vw white,
  0 0 1vw grey,
  inset 0 0 2vw grey;
}

#moon_sky {
  width: 8vh;
  height: 8vh;
  opacity: 0.9;
  border-radius: 50%;
  position: relative;
  background-color: darkblue;
  box-shadow: inset 0 0 3vw grey;
  transform: rotate(-45deg);

}

#moon_clip {
  right: 10vw;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  position: fixed;
  clip-path: circle(4vh);
  transform: rotate(-45deg);
}

.moon_wrapper {
  top: 8vh;  
  width: 100%;
  height: 8rem;
  position: absolute;
}

#moon_phase {
  width: 8vh;
  height: 8vh;
  right: 10vw;
  border-radius: 50%;
  position: absolute;
  background-color: grey;
  transform: rotate(-45deg);
  clip-path: inset(0px 0px 0px 8vh);
}

@media (prefers-reduced-motion: no-preference) {
  .moon { animation: moon_shift infinite alternate 240s linear; }
  #moon_clip { animation: moon_shift infinite alternate 240s linear; }
  #moon_sky { animation: moon_phase infinite 510s; }
}

@keyframes moon_shift {
  0% { transform: translateX(-70vw); }
  100% { transform: translateX(0); }
}

@keyframes moon_phase {
  0% { transform: translate(11vh, 1vh); }
  50% { transform: translateX(0vh, 0vh); }
  100% { transform: translate(-11vh, -1vh); }
}
