.star {
  position: absolute;
  transform: rotate(45deg);
  border: 1px solid white;
  background-color: yellow;
  z-index: 1;
}

@keyframes flicker {
  0% {  opacity: 1; }
  50% {  opacity: 0.5; }
  100% {  opacity: 1; }
}
