.box-holder {
  height: calc(100% - 12vh); 
  /* max-width: 100% !important; */
}

.box {
  width: 20vh;
  margin: 5vh;
  height: 20vh;
  border-radius: 25px;
  border: 7px solid white;
  background-color: grey;  
  z-index: 1
}

.link {
  width: 20vh;
  height: 20vh;
  color: white;
  text-decoration: none; /* no underline */
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link:hover {
  color: black;
  transition: 0.2s;
  background-color: white;
  /* border-color: black !important; */
}
