.box-holder {
  height: calc(100% - 12vh); 
}

.box {
  width: 20vh;
  margin: 5vh;
  height: 20vh;
  border-radius: 25px;
  border: 7px solid white;
  background-color: grey;  
  z-index: 1
}

.floating_box {
  width: 20vh;
  height: 20vh;
}

.floating_box:hover {
  color: black;
  transition: 0.2s;
  background-color: white;
}
