
/* *{margin: 0; padding: 0; box-sizing: border-box;} */

.cloud{
  border-radius: 50%;
  position: absolute;
  background: #FFFFFF;
  height: 6vh; width: 6vh;
  box-shadow:
		#FFFFFF 6vh -1vh 0 -1vh, 
		#FFFFFF 3vh -2vh, 
		#FFFFFF 3vh 1vh, 
		#FFFFFF 6vh 1vh 0 -1vh, 
		#FFFFFF 8vh 1vh 0 -1vh;
}

@keyframes cloud_shift {
  0% { transform: translateX(-10vw); }
  100% { transform: translateX(110vw); }
}
