#stars {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: darkblue;
}

.star {
  position: absolute;
  transform: rotate(45deg);
  border: 1px solid white;
  background-color: yellow;
}

@keyframes flicker {
  0% {  opacity: 1; }
  50% {  opacity: 0.5; }
  100% {  opacity: 1; }
}
