.banner {
  top: calc(6.75vh - 2.5vw);
  z-index: 1;
  width: 40vw;
  height: 5vw;
  position: absolute;
  border-radius: 1vw;
  transform-origin: 50%;
  left:  calc(50% - 20vw);
  border: 0.5vw solid red;
  transform: rotate(-1deg);
  background-color: white;
}

.scroll_container {
  width: 100%;
  height: 100%;
  overflow: hidden;  
  border-radius: 5px;
}

.banner-text {
  width: 100%;
  height: 90%;
  color: black;
  font-size: 3vw;
  font-family: 'Verdana';
}

.banner_link {
  transform: scale(2);
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .banner {
    animation: 
      rainbow-border infinite 10s linear,
      banner-bg-change infinite 60s linear;
  }
  .banner-text {
    animation: banner-text-change infinite 60s linear;
  }
}

@keyframes rainbow-border {
  0% { border: 0.5vw solid red; }
  14% { border: 0.5vw solid orange; }
  28% { border: 0.5vw solid yellow; }
  42% { border: 0.5vw solid green; }
  56% { border: 0.5vw solid blue; }
  70% { border: 0.5vw solid indigo; }
  84% { border: 0.5vw solid violet; }
  100% { border: 0.5vw solid red; }
}

@keyframes banner-bg-change {
  0% { background-color: whitesmoke; }
  10% { background-color: white; }
  40% { background-color: white; }
  50% { background-color: whitesmoke; }
  51% { background-color: rgb(32, 32, 32); }
  99% { background-color: rgb(32, 32, 32); }
  100% { background-color: whitesmoke; }
}

@keyframes banner-text-change {
  0% { color: black }
  50% { color: black; }
  51% { color: white; }
  99% { color: white; }
  100% { color: black; }
}
