.header {
  z-index: 1;
  height: 7vh;
  border-radius: 4vh 4vh 0 0;
  background-color: whitesmoke;
  border-bottom: 1vh solid lightgray;
}

@media (prefers-reduced-motion: no-preference) {
  .header {
    animation: 
      cloud-change infinite 60s linear, 
      rainbow-border2 infinite 10s linear;
  }
}

@keyframes cloud-change {
  0% { background-color: whitesmoke; }
  10% { background-color: white; }
  40% { background-color: white; }
  50% { background-color: whitesmoke; }
  52% { background-color: grey; }
  98% { background-color: grey; }
  100% { background-color: whitesmoke; }
}

@keyframes rainbow-border2 {
  0% { border-bottom: 1vh solid red; }
  15% { border-bottom: 1vh solid orange; }
  30% { border-bottom: 1vh solid yellow; }
  45% { border-bottom: 1vh solid green; }
  60% { border-bottom: 1vh solid blue; }
  75% { border-bottom: 1vh solid indigo; }
  90% { border-bottom: 1vh solid violet; }
  100% { border-bottom: 1vh solid red; }
}