#panel_holder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#panel {
  width: 60vw;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#content_border {
  z-index: 1;
  width: 60vw;
  height: 50vh;
  position: fixed;
  border-radius: 2vh;
  pointer-events: none;
  border: solid white 1vh;
}

#content_background {
  width: 60vw;
  height: 50vh;
  padding: 2px;
  opacity: 0.80;
  position: fixed;
  background-color: white;
  background-color: rgb(32, 32, 32);
}

#content {
  padding: 2vh;
  font-size: 2vh;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 4vh);
}
