
#github_icon {
  border-radius: 50%;
}

#linkedin_icon {
  border-radius: 15%;
}

.links {
  margin-left: 1vw;
}

#social_links {
  display: flex;
  align-items: center;
  margin-right: 3vw;
  margin-left: auto;
}

.social_box {
  height: 100%;
  display: flex;
  align-items: center;
}