.centered {
  height: 100vh; /* Magic here */
  width: 100vw; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal {
  /* 80% of window height */
  height: 100vh;
  overflow: hidden;
}

.blast-door{
  background-image: url("./BlastDoor.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.ms-Dialog-main,
.ms-Modal-scrollableContent {
  overflow: hidden;
}