.centered {
  width: 100vw; /* Magic here */
  height: 100vh; /* Magic here */
  display: flex;
  align-items: center;
  justify-content: center;
}

.blast-door {
  top: 0;
  z-index: 10;
  width: 50vw;
  height: 100vh;
  position: fixed;
  object-fit: contain;
  background-size: 100% 100%;
  background-position: center;  
  background-image: url("./blast.png");
}

.blast-door-left {
  left: 0;
}

.blast-door-right {
  left: 50vw;
}

#blast-btn {
  top: 50%;
  left: 50%;
  width: 25vh;
  height: 25vh;
  z-index: 100;
  position: fixed;
  border-radius: 50%;
  border: 5px solid black;
  transform: translate(-50%, -50%);
}

#overlay_bg {
  top: 0;
  left: 0;  
  z-index: 9;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  #overlay_bg { animation: fade-in 6s forwards paused; }
  .blast-door-left { animation: move-left 6s forwards paused; }
  .blast-door-right { animation: move-right 6s forwards paused; }
}

@keyframes move-left {
  0% { transform: translatex(0); }
  100% { transform: translatex(-50vw); }
}

@keyframes move-right {
  0% { transform: translatex(0); }
  100% { transform: translatex(50vw); }
}

@keyframes fade-in {
  0% {
    opacity: 1;
    z-index: 9;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}