.centered {
  height: 100vh; /* Magic here */
  width: 100vw; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.blast-door {
  background-image: url("./blast.png");
  background-size: cover;
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 50vw;
  top: 0;
  object-fit: contain;
}

.blast-door-left {
  transform: rotate(180deg);
  left: 0;
}

.blast-door-right {
  left: 50vw;
}

#blast-btn {
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}


@media (prefers-reduced-motion: no-preference) {
  .blast-door-left {
    animation: move-left 5s forwards paused;
  }
  .blast-door-right {
    animation: move-right 5s forwards paused;
  }
}

@keyframes move-left {
  0% {
    transform: translatex(0) rotate(180deg);
  }
  100% {
    transform: translatex(-50vw) rotate(180deg);
  }
}

@keyframes move-right {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(50vw);
  }
}