.centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blast-door {
  top: 0;
  z-index: 2;
  width: 50vw;
  height: 100vh;
  position: fixed;
  object-fit: contain;
  background-size: 100% 100%;
  background-position: center;  
  background-image: url("./blast.png");
}

.blast-door-left {
  left: 0;
}

.blast-door-right {
  left: 50vw;
}

.sign1 {
  left: 5vw;
  z-index: 2;
  width: 35vw;
  height: 15vw;
  bottom: 60vh;
  font-size: 5vw;
  color: white;
  position: fixed;
  font-weight: bold;
  border-radius: 2vh;
  pointer-events: none;
  transform: rotate(10deg);
  background-color: red;
  border: 1vh solid white;
}

.sign2 {
  z-index: 2;
  left: 15vw;
  width: 15vw;
  height: 15vw;
  bottom: 30vh;
  font-size: 3vw;
  border-radius: 2vh;
  transform: rotate(-47deg);

  color: black;
  position: fixed;
  font-weight: bold;
  pointer-events: none;
  border: 1vh solid black;
  background-color: yellow;  
}

.sign_text {
  font-size: 3vw;
  text-align: center;
  transform: rotate(45deg);
}

#blast-btn {
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#overlay_bg {
  top: 0;
  left: 0;  
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  #overlay_bg { animation: fade-in 6s forwards paused; }
  .blast-door-left { animation: move-left 6s forwards paused; }
  .blast-door-right { animation: move-right 6s forwards paused; }
}

@keyframes move-left {
  0% { transform: translatex(0); }
  100% { transform: translatex(-50vw); }
}

@keyframes move-right {
  0% { transform: translatex(0); }
  100% { transform: translatex(50vw); }
}

@keyframes fade-in {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
