.box-holder {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: 25px;
  border: 5px solid #73AD21;
  background-color: blue;
  margin: 5vw;
  height: 10vw;
  width: 10vw;
  vertical-align: middle;
}
