body {
  background-color: black;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-body {
  border-radius: 4vh;
  height: 90vh;
  width: 93vw;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .app-body {
    animation: sun-set infinite 60s linear;
  }
}

@keyframes sun-set {
  0% {  background-color: orangered; }
  10% {  background-color: lightskyblue; }
  40% {  background-color: lightskyblue; }
  50% {  background-color: orangered; }
  52% {  background-color: darkblue; }
  98% {  background-color: darkblue; }
  100% {  background-color: orangered; }
}