body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

.app {
  width: 93vw;
  height: 90vh;
  border-radius: 4vh;
  position: relative;
}

.app-body {
  width: 100%;
  position: relative;
  /* Header & border height + Footer & border height*/
  height: calc(100% - 7vh - 6vh - 1.5vh - 1vh);
}

.background-fade {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 2;
}

.content-body {
  z-index: 6;
  width: 100%;
  height: 100%;
  position: absolute;
}

.link {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-body { animation: sky-change infinite 60s linear; }
  .background-fade { 
    animation: 
      sky-change infinite 60s linear,
      star-fade infinite 60s linear;
  }
}

@keyframes sky-change {
  0% {  background-color: orangered; }
  10% {  background-color: lightskyblue; }
  40% {  background-color: lightskyblue; }
  50% {  background-color: orangered; }
  52% {  background-color: darkblue; }
  98% {  background-color: darkblue; }
  100% {  background-color: orangered; }
}

@keyframes star-fade {
  0% {  opacity: 1 }
  50% {  opacity: 1 }
  51% {  opacity: 0 }
  99% {  opacity: 0 }
  100% {  opacity: 1 }
}