body {
  background-color: black;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-body {
  border-radius: 4vh;
  height: 90vh;
  width: 93vw;
  position: relative;
}

.link {
  color: white;
  text-decoration: none; /* no underline */
  height: 100%;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .app-body {
    animation: sky-change infinite 60s linear;
  }
}

@keyframes sky-change {
  0% {  background-color: orangered; }
  10% {  background-color: lightskyblue; }
  40% {  background-color: lightskyblue; }
  50% {  background-color: orangered; }
  52% {  background-color: darkblue; }
  98% {  background-color: darkblue; }
  100% {  background-color: orangered; }
}