.mountain, .mountain-two, .mountain-three {
  position: absolute;
  bottom: 5vh;
  right: 10vw;
  border-left: 15vw solid transparent;
  border-right: 15vw solid transparent;
  border-bottom: 18vw solid #7accff;
}

.mountain { 
  right: 20vw;
  bottom: 3.5vh;
  border-bottom: 18vw solid #6dc4eb;
}

.mountain-two {
  transform: scale(1.5);
}

.mountain-three {
  bottom: 3.5vh;
  right: -2vw;
  border-bottom: 18vw solid #6fb1ea;
}

.mountain-top {
  position: absolute;
  right: -6vw;
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
  border-bottom: 7vw solid #ceeaf6;
}

.mountain-cap-1, .mountain-cap-2, .mountain-cap-3 {
  position: absolute;
  top: 7vw;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-top: 2vw solid #ceeaf6;
}

.mountain-cap-1 { left: -6vw; }
.mountain-cap-2 { left: -2vw; }
.mountain-cap-3 { left: 2vw; }

/* @media (prefers-reduced-motion: no-preference) {
  .hill-3 { animation: hill1-change infinite 60s linear; }
  .hill-1 { animation: hill1-change infinite 60s linear; }
  .hill-2 { animation: hill2-change infinite 60s linear; }
}

@keyframes hill1-change {
  0% {  background-color: green; }
  50% {  background-color: green; }
  52% {  background-color: rgb(0, 111, 0) }
  98% {  background-color: rgb(0, 111, 0) }
  100% {  background-color: green; }
}

@keyframes hill2-change {
  0% {  background-color: rgb(10, 123, 10); }
  50% {  background-color: rgb(10, 123, 10); }
  52% {  background-color: rgb(9, 99, 9) }
  98% {  background-color: rgb(9, 99, 9) }
  100% {  background-color: rgb(10, 123, 10); }
} */