.sun {
  position: absolute;
  transform-origin: center right;
  bottom: 0px;
  z-index: 0;
  width: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .sun {
    animation: sun-spin infinite 60s linear;
  }
}

@keyframes sun-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  51% {
    transform: scale(0);
  }  
  100% {
    transform: scale(0);
  }
}